<div id='dinner' class = 'section'>
  <div class = 'row'>
    <div class = 'col-md-6'>
      <span id = 'brLnDn'>Dinner</span>
          <form id='addForm' action='/dinner' target='print_popup' method='GET' onsubmit="window.open('about:blank','print_popup','width=800,height=400');">
            <button id='dinner' name='date' value='<%=day%>' class = 'btn btn-primary'>Add</button>
          </form>
    </div>
    <div class = 'col-md-3'>
      <div class = 'row'>
        <div class = 'col-sm-3' id = 'noMargin'>
          Protein<span id = 'vPipe'>|</span>
        </div>
        <div class = 'col-sm-3' id = 'noMargin'>
          Carbs<span id = 'vPipe'>|</span>
        </div>
        <div class = 'col-sm-3' id = 'noMargin'>
          Fat<span id = 'vPipe'>|</span>
        </div>
        <div class = 'col-sm-3' id = 'noMargin'>
          <strong>Calories</strong>
        </div>
      </div>
    </div>
    
  </div>
  <div class='row'>
    <hr class = 'col-md-9'>
  </div>


                    <% let pickedDate = new Date(day)%>
                    
                    <% user.products.forEach(function(product){%>
                        <% let d = new Date(product.report.date)%>
                        <% if(product.report.when == 'dinner' && (d.getDate() == pickedDate.getDate() && d.getMonth() == pickedDate.getMonth() && d.getYear() == pickedDate.getYear())){ %>
                            <li>
                                <div class = 'row d-inline-flex' id = 'productLine'>
                                  <div class = 'col-md-6'>
                                    <%= product["report"]["food"]["name"] %> - <%=product.report.amount%><%=product.report.measure%>
                              
                                    <form action='/myhomepage?_method=DELETE' method='POST' id='addForm'>
                                      <button value='<%= product._id%>' name='remove' class='btn btn-sm btn-danger'>Remove</button>
                                    </form>
                                  </div>
                                  <div class = 'col-md-3 productName'>
                                    <div class = 'row'>
                                      <div class = 'col-sm-3' id = 'noMargin'>
                                        <% product.report.food.nutrients.forEach(nutrient => {%>
                                          <% if(nutrient.nutrient_id == '203'){%>
                                              <span class = 'protein'><%= Math.floor(nutrient.value * (product.report.amount/100)) %></span>
                                          <% }%>
                                        <% })%>
                                      </div>
                                      <div class = 'col-sm-3' id = 'noMargin'>
                                        <% product.report.food.nutrients.forEach(nutrient => {%>
                                          <% if(nutrient.nutrient_id == '205'){%>
                                              <span class = 'carbs'><%= Math.floor(nutrient.value * (product.report.amount/100)) %></span>
                                          <% }%>
                                        <% })%>
                                      </div>
                                      <div class = 'col-sm-3' id = 'noMargin'>
                                        <% product.report.food.nutrients.forEach(nutrient => {%>
                                          <% if(nutrient.nutrient_id == '204'){%>
                                              <span class = 'fat'><%= Math.floor(nutrient.value * (product.report.amount/100)) %></span>
                                          <% }%>
                                        <% })%>
                                      </div>
                                      <div class = 'col-sm-3' id = 'noMargin'>
                                        <% product.report.food.nutrients.forEach(nutrient => {%>
                                          <% if(nutrient.nutrient_id == '208'){%>
                                              <span class = 'energy'><%= Math.floor(nutrient.value * (product.report.amount/100)) %></span>
                                          <% }%>
                                        <% })%>
                                      </div>
                                    </div>
                                  </div>      
                              </div>

                                  
                              <div class="hidden" id="firstRow">
                                  <div id="nutrname">
                                    Nutrient
                                  </div>  
                                  <span id="nutrmeasure">
                                    Per 100g
                                  </span> 
                                  <%product["report"]["food"]["nutrients"][0]["measures"].forEach(function(measure){ %>
                                      <span id="nutrmeasure"><%= measure.qty %> <%= measure.label %></span>
                                  <% }) %>
                                  <span id="nutrmeasure">Per <%=product.report.amount%><%=product.report.measure%></span>
                                  
                              </div>
                                  <% product["report"]["food"]["nutrients"].forEach(function(nutrient){ %>
                                  <div class="hidden">
                                      <p id="nutrname"><%= nutrient.name %></p>
                                      <span id="nutrmeasure"><%= nutrient.value %><%= nutrient.unit %></span>
                                      <% nutrient["measures"].forEach(function(measure){ %>
                                      <span id="nutrmeasure"><%= measure.value%><%= measure.eunit%></span>
                                      <% }) %>
                                      <span id="nutrmeasure"><%= Math.floor(nutrient.value * (product.report.amount/100)) %><%= nutrient.unit %></span>
                                  </div>
                                  <% }) %>
                            </li>
                        <% }%>
                    <% }) %>
</div>