<div id='lunch'>
          <h2 style='display: inline-block'>Lunch</h2>
          <form id='addForm' action='/lunch' target='print_popup' method='GET' onsubmit="window.open('about:blank','print_popup','width=800,height=400');">
                <button id='lunch' name='date' value='<%=day%>' class = 'btn btn-primary'>Add</button>
          </form>
          <table style='display: inline-block; position: absolute; left: 800px'>
            <thead>
              <tr>
                <th id='p'>Protein |</th>
                <th id='c'>Carbs |</th>
                <th id='f'>Fat</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
          <hr>
          <!--<span style='display: inline-block; position: absolute; left: 800px'>Protein  |</span>-->
          <!--<span style='display: inline-block; position: absolute; left: 870px'>Carbs  |</span>-->
          <!--<span style='display: inline-block; position: absolute; left: 930px'>Fat</span>-->
            
                    <% let pickedDate = new Date(day)%>
                    
                    <% user.products.forEach(function(product){%>
                        <% let d = new Date(product.report.date)%>
                        <% if(product.report.when == 'lunch' && (d.getDate() == pickedDate.getDate() && d.getMonth() == pickedDate.getMonth() && d.getYear() == pickedDate.getYear())){ %>
                            <li>
                            
                                <div class = 'productName'>
                                    <%= product["report"]["food"]["name"] %> - <%=product.report.amount%><%=product.report.measure%>
                                </div>
                                  <form action='/myhomepage?_method=DELETE' method='POST' id='addForm'>
                                    <button value='<%= product._id%>' name='remove' class='btn btn-sm btn-danger'>Remove</button>
                                  </form>
                                  <h3 id='addForm'>
                                    <% product.report.food.nutrients.forEach(nutrient => {%>
                                      <% if(nutrient.nutrient_id == '203'){%>
                                        <%= Math.floor(nutrient.value * (product.report.amount/100)) %>
                                      <% }%>
                                    <% })%>
                                  </h3>
                                  <h3 id='addForm'>
                                    <% product.report.food.nutrients.forEach(nutrient => {%>
                                      <% if(nutrient.nutrient_id == '204'){%>
                                        <%= Math.floor(nutrient.value * (product.report.amount/100)) %>
                                      <% }%>
                                    <% })%>
                                  </h3>
                                  <h3 id='addForm'>
                                    <% product.report.food.nutrients.forEach(nutrient => {%>
                                      <% if(nutrient.nutrient_id == '205'){%>
                                        <%= Math.floor(nutrient.value * (product.report.amount/100)) %>
                                      <% }%>
                                    <% })%>
                                  </h3>
                                </span>
                                  <div class="hidden" id="firstRow">
                                      <div id="nutrname">Nutrient</div>  
                                      <span id="nutrmeasure">Per 100g</span> 
                                      <%product["report"]["food"]["nutrients"][0]["measures"].forEach(function(measure){ %>
                                          <span><%= measure.qty %> <%= measure.label %></span>
                                      <% }) %>
                                      <span>Per <%=product.report.amount%><%=product.report.measure%></span>
                                      
                                  </div>
                                  <% product["report"]["food"]["nutrients"].forEach(function(nutrient){ %>
                                  <div class="hidden">
                                      <p id="nutrname"><%= nutrient.name %></p>
                                      <span id="nutrmeasure"><%= nutrient.value %><%= nutrient.unit %></span>
                                      <% nutrient["measures"].forEach(function(measure){ %>
                                      <span><%= measure.value%><%= measure.eunit%></span>
                                      <% }) %>
                                      <span id="nutrmeasure"><%= Math.floor(nutrient.value * (product.report.amount/100)) %><%= nutrient.unit %></span>
                                  </div>
                                  <% }); %>
                            </li>
                        <% }%>
                    <% }) %>
</div>