    <html>
        <head>
            <title>Fitness App</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/main.css">
        </head>
        <body onload="initElement();addButtonListener()">
    <!--will need to write a code in addButtonListener.js to listen to a click on Add button
    and then grab Li element it is in and then push it to dailyFoods array and finally redirect to home page-->
<h1>results page</h1>

<% items.forEach(function(product){ %>
        <li><span id="productName"><%= product["report"]["food"]["name"] %></span> <span id="ndbno"><%= product["report"]["food"]["ndbno"] %></span><button>Add</button>
            <div class="hidden" id="firstRow">
                <div id="nutrname">Nutrient</div>  
                <span id="nutrmeasure">Per 100g</span> 
                <%product["report"]["food"]["nutrients"][0]["measures"].forEach(function(measure){ %>
                    <span><%= measure.qty %> <%= measure.label %></span>
                <% }) %>
            </div>
            <% product["report"]["food"]["nutrients"].forEach(function(nutrient){ %>
            <div class="hidden">
                <p id="nutrname"><%= nutrient.name %></p> - 
                <span id="nutrmeasure"><%= nutrient.value %><%= nutrient.unit %></span>
                <% nutrient["measures"].forEach(function(measure){ %>
                <span><%= measure.value%><%= measure.eunit%></span>
                <% }) %>
            </div>
            <% }); %>
        </li>

<% }) %>

<a href="/search">Search Again</a>
            <script type="text/javascript" src="javascript/listcollapse.js"></script>
            <script type="text/javascript" src="javascript/addButtonListener.js"></script>
        </body>
    </html>