<% include partials/header.ejs %>

        <form action="/results_dinner" method="GET">
            <div class = 'row' id='noMarginSearch'>
                
                    <div class = 'col-3' id='noMarginSearch'>
                        <input type="text" placeholder="Product name" name="product" class = 'form-control form-control-lg'>
                    </div>
                    <div class = 'col-1' id='noMarginSearch'>
                        <button name='date' value='<%= date%>' class = 'btn btn-success btn-lg'>Search</button>
                    </div>
                
            </div>
        </form>
        
        <div class='row'>
            <hr class = 'col-4' id='search'>
        </div>
        <div class='section'></div>
        

        
        <% if(typeof(items) != 'undefined') {%>
        <%  items.forEach(function(product){ %>
                <li>
                    <div class = 'row d-inline-flex productName' id='productLine'>
                        <div class = 'col-9'>
                            <span class='clickable'><%= product["report"]["food"]["name"] %></span>
                        </div>
                        <div class = 'col-3' id='noMargin'>
                            
                            <form action='/myhomepage_dinner' method='POST' >
                                <div class='row'>
                                    <div class='col-5' id='noMargin'>
                                        <input name='amount' type='number' class="form-control" >
                                    </div>
                                    <div class = 'col-2' id='noMargin'>
                                        <select name='measure' class="form-control" id='noMargin'>
                                          <option value='g'>g</option>
                                          <option value='oz'>oz</option>
                                        </select>
                                        <input type='hidden' name='date' value='<%= date%>' >
                                    </div>
                                    <div class = 'col-2' id='noMargin'>
                                        <button  name='add' value='<%= product["report"]["food"]["ndbno"] %>' class = 'btn btn-primary btn-sm'>Add</button>
                                    </div>
                              </div>
                            </form>
                            
                        </div>
                    </div>
                    
                    <div class="hidden" id="firstRow">
                        <div id="nutrname">Nutrient</div>  
                        <span id="nutrmeasure">Per 100g</span> 
                        <%product["report"]["food"]["nutrients"][0]["measures"].forEach(function(measure){ %>
                            <span id="nutrmeasure">Per <%= measure.qty %><%= measure.label %></span>
                        <% }) %>
                    </div>
                    <% product["report"]["food"]["nutrients"].forEach(function(nutrient){ %>
                    <div class="hidden">
                        <p id="nutrname"><%= nutrient.name %></p>
                        <span id="nutrmeasure"><%= nutrient.value %><%= nutrient.unit %></span>
                        <% nutrient["measures"].forEach(function(measure){ %>
                        <span id="nutrmeasure"><%= measure.value%><%= measure.eunit%></span>
                        <% }) %>
                    </div>
                    <% }); %>
                </li>
        
            <% }) %>
        <% } %>

        <script type="text/javascript" src="javascript/onLoad.js"></script>
        <script type="text/javascript" src="javascript/listcollapse.js"></script>
        
        </body>
    </html>
